<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
    <title>Tea Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link herf="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/business-casual.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
     
  </head>

  <body>
      <style>
          .setComment {
              border-style: solid;
              border-width: 5px;
              border-radius: 10px;
              width: 200px;
              overflow: auto;
              float: left;
              background-color: hsla(0, 0%, 100%,0.5);
              position: relative;
              height: 350px;
          }

          #SendComment {
              border-style: solid;
              border-radius: 10px;
              width: 190px;
              position: absolute;
              bottom: 0px;
              right: 0px;
              float: left;
              background-color: hsla(0, 0%, 100%,0.5);
          }
          #commentText {
              border-style: solid;
              border-width: 5px;
              border-radius: 10px;
              float: left;
              background-color: hsla(0, 0%, 100%,0.5);
          }
      </style>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand font-weight-bold d-lg-none" href="/">茶之口未</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link" href="/"><i class="fa fa-home"></i>首頁
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link" href="/intro">茶葉介紹</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link" href="/store"></i>銷售專區</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link" href="/forum"></i>討論區</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link" href="/about">關於我們</a>
            </li>

            
						<!--<% var loginSsn="" %>
						<% if (locals.Ssn) { %>
						<% loginSsn=Ssn  %>
						  <p>您好, <%= Ssn %></p>  
						  <a href="/logout">登出</a>
						<% } %>				     -->
          </ul>
        </div>
      </div>
    </nav>

    
    <section class="clearfix">
      <% if (locals.Ssn) { %>
      <button class="text-white login-button nav-link " onclick="javascript: location.href='logout'">登出</button>
      <p class="text-white user-logintext">您好, <%= Ssn %></p>
      <% } %>	
      <% if(!locals.Ssn){ %>	
      <button class="text-white login-button nav-link ">註冊</button>
      <button class="text-white login-button nav-link " onclick="javascript: location.href='login'">登入</button>
      <% } %>
    </section>

    <% if(locals.Ssn){ %>	
    <button class="op-send-button change-button">
        <div class='button-text'>留言</div>
        <span><i class="material-icons" style="font-size:50px;">chat</i></span>
    </button>
	
    <span class="op-message-area">
      <div class="">
        <div class="row">
          <div class="text-white" style="margin:0px 10px;"><h3><%= loginSsn %>留言</h3></div>
          <span>
              <button class="close-button"><i class="fa fa-remove" style="font-size:30px;"></i></button>
          </span>
        </div>
        
        <form class="form-area" action="/forum" method="post">  
          <div class="form-group">
            <textarea type="text" name="Comment" id="message" class="form-control" placeholder="輸入文字" rows="10"></textarea>
          </div>
        
        <div class="row">
          <span>
            <button class="send-text-button" id="sendMessage"><i class="fa fa-send" style="font-size:30px;"></i></button>
          </span>
		  </form>
          <!--<span>
            <button class="close-button"><i class="fa fa-remove" style="font-size:30px;"></i></button>
          </span>-->
        </div>
      
      </div>  
    </span>
	<% } %>
    <h1 class="site-heading text-center text-white">討論區</h1>

    <section class="page-section about-heading comment-area">
      <div class="container">
          <iframe height="500px" width="100%" src="" name="iframe_a"></iframe>
      </div>

    </section>

    <section class="page-section about-heading comment-area">
      <div class="container">
        <!--<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">-->
        <div class="about-heading-content" >
          <div class="row">
              
            
              <div class="col-lg-2 col-md-6 mb-4"  >
                <div class="comment-bg h-100"> 
                    <ul>
                        <li><a href="http://localhost:3000/" target="iframe_a">紅茶</a></li>
                        <li> 綠茶</li>
                    </ul>
                </div>
              </div>
            
            
            
              <div class="col-lg-10 col-md-6 mb-4">
                <div class="comment-bg h-100" id="messageBoard">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                        <span class="section-heading-lower">關於茶葉</span>
                    </h2>
                    <p></p>
                    <p class="mb-0"></p>
                </div>

              </div>
      
<!--
            <div class="col-lg-4 col-md-6 mb-4"  >
              <div class="card h-100">
                <div class="card-body">
                  <div class="card-title">
                      <h1 style="text-align:center">留言</h1>                            
                  </div>
                  <div class="card-text">
                    <textarea type="text" name="Comment" class="h-100 w-100"></textarea>
                  </div>                            
                </div>
                <div class="card-footer">
                    <button id="SendComment1" class="w-100">送出<i class="fa fa-send"></i></button>
                  </div>
              </div>              
            </div>-->
              
          </div>
        </div>
      </div>
    </section>

    

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Team13 隨意當 2017</p>
      </div>
    </footer>
	
	
    <!-- Bootstrap core JavaScript -->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
	<script src="/stylesheets/js/sendMessage.js"></script>
	
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/js/tea-website.js"></script>

  </body>

</html>