<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tea Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/business-casual.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">茶之口未</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/"><i class="fa fa-home"></i>首頁
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/intro">茶葉介紹</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/store">銷售專區</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/forum">討論區</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/about">關於我們</a>
            </li>
			<li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/upload">上傳</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <button onclick="topFunction()" id="backToTopButton" title="回頂部"><i class="fa fa-chevron-up" style="font-size:30px;"></i></button>

    <h1 class="site-heading text-center text-white">茶葉介紹</h1>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">紅茶</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/stylesheets/img/Black-tea.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">紅茶是經過採摘、萎凋、揉捻、發酵、乾燥等步驟生產出來的；比綠茶多了發酵的過程。發酵是指茶葉在空氣中氧化，發酵作用使得茶葉中的茶多酚和鞣質酸減少，產生了茶黃素、茶紅素等新的成分和醇類、醛類、酮類、酯類等芳香物質。因此，紅茶的茶葉呈黑色，或黑色中參雜著嫩芽的橙黃色；茶湯呈深紅色；香氣撲鼻；由於少了苦澀味，因而味道更香甜、醇厚。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
               
                <span class="section-heading-lower">東方美人茶</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/stylesheets/img/beauty.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">製茶過程的特點是：炒菁後，需多一道以布包裹，置入竹簍或鐵桶內的「靜置回潤」或稱「回軟」的二度發酵程序，再進行揉捻、解塊、烘乾而製成毛茶。再經分級、精製焙火、包裝。茶葉白毫肥大，葉身呈白、綠、黃、紅、褐五色相間，有濃濃的蜂蜜香、熟果味。
東方美人茶獨特的熟果香和蜂蜜香氣，來自小綠葉蟬的叮咬而產生，因而茶園若要吸引小綠葉蟬群聚，那就絕對不能噴灑任何殺蟲農藥。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">綠茶</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="/stylesheets/img/Green-tea.jpg" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">經過殺青、揉捻、乾燥，大部分白毫脫落，浸泡後為綠湯綠茶。綠茶通過殺青工藝的不同可分為四種：炒青茶，蒸青茶，烘青茶，曬青茶</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Team13 隨意當 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheets/js/tea-website.js"></script>

  </body>

</html>
